:root {
  --header-height: 5rem; /* 80px = 5rem */
}

main {
  padding-top: var(--header-height);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust this value based on your header height */
}
@keyframes slide-in {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
