:root {
  --header-height: 5rem; /* 80px = 5rem */
}

main {
  padding-top: var(--header-height);
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust this value based on your header height */
}